<p>welcome {{nameParam}}</p>
go on to click <a routerLink="/list-todos">todo</a>

<div class="container">
    click here to get welcome message
    <br>
    <button (click)="getWelcomeMessage()" class="btn btn-success">click for welcome message</button>
    <br>
    <br>
    <button (click)="getWelcomeMessageWithParam()" class="btn btn-success">click for welcome message with param</button>
</div>

<div class="container" *ngIf="welcomeMeassageFromBean">
    <b>welcome meassage after button click </b>
    {{welcomeMeassageFromBean}}
</div>

<div class="container" *ngIf="welocomeMessageErrorFromBean">
    <b>generated error message from bean </b>
    {{welocomeMessageErrorFromBean}}
</div>
